@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach(S2_Demo_Modele.Models.Etudiant etudiant 
    in ViewData["Liste"] as List<S2_Demo_Modele.Models.Etudiant>)
{
    <p>@etudiant.Numero @etudiant.Nom</p>
}
